<html>
<head>
<title>FreeTeca</title>
<meta name="Site destinado ao cadastro de estudantes no sistema FreeTeca" content="Breve descrição da sua página">
<meta name="keywords" content="Palavras chave da sua página">
</head>
<body background="https://abrilexame.files.wordpress.com/2019/09/livros.jpg">

<center><font size="50"><font color="white">FREE TECA</font></font></center><br>
<center><font size="30"><font color="white">Site destinado ao cadastro de estudantes no sistema FreeTeca. Cadastre-se agora ou sabia mais sobre o funcionamento do site</font></font></center></center>
<br>
<br>
<br>
<br> 	
<center><a class="bt" href="https://www.google.com"><input type="button" style="width:150;height:75" value="Cadastro"></a></center><br>

<center><a href="tutorial.html"><input type="button" style="width:150;height:75" size="10" value="Tutorial"</a></center><br>

</body>
</html>