<html>
<head>
<title>FreeTeca</title>
<meta name="Site destinado ao cadastro de estudantes no sistema FreeTeca" content="Breve descrição da sua página">
<meta name="keywords" content="Palavras chave da sua página">
</head>
<body background="https://abrilexame.files.wordpress.com/2019/09/livros.jpg">

<center><font size="50"><font color="white">FREE TECA</font></font></center><br>
<center><font size="7"><font color="white">Esse é um breve tutorial informando como funciona o sitema.</font></font></center></center><br>
<br>
<p align="left"><font color="white"><font size="6">O sistema é direcionado para o cadastro de estudantes que desejam fazer empréstimos de livros na biblioteca. Para realizar esse cadastro,
é necessário que o estudante clique no botão de cadastro na página inicial do site, logo em seguida ele será redirecionado para uma página na qual precisará
preencher os campos vazios com os dados solicitados. Após informar todos os dados, deve-se selecionar a opção confirmar. Se todas as informações estiverem de acordo, o usuário será validado para fazer empréstimos.</font></font></p>
<br>
<br>
<br> 	


</body>
</html>